body {
    text-align: center;
}

#ADC_Value {
    width: 200px;
    height: 160px;
    display: inline-block;
}

#name {
    font-size: 20px;
    color: blue;
}

#ADC {
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background: aliceblue;
}